#navbar1{
    background-color:#eceb98;
    padding: 8px 12px;
}
#udemy_icon{
    width:120px;
}
h2{
    font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 700;
}

// .navbar-nav .nav-item{

//     padding: 0px 8px;
// }
@media only screen and (max-width:1024px) {
    #form--input{
        width:300px !important;
    }
}
@media only screen and (min-width:1025px) {
    #form--input{
        width:450px !important;
    }
    .navbar-nav .nav-item{

        padding: 0px 10px;
    }
}


