<section class="text-center m-0" id="navbar1">
    <p> <span class="fw-bold h6">Thousands of topics and trusted instructors right here </span> | Special savings for
        logged-in visitors through Feb. 16. </p>
    <p class="fw-bold h5 mt-0">Ends in {{dateTime|date:"HH:mm:ss" }}s.</p>
</section>
<!--------------------navbar----------------------->
<nav class="navbar navbar-expand-lg navbar-light m-0">
    <div class="container-fluid py-3 shadow-lg mt-0 w-100">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <a href="#">
            <img src="../../assets/udemy.png" alt="udemy-icon" id="udemy_icon">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mx-0 ps-4 mb-2 mb-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="#">Categories</a>
                </li>
                <form>
                    <input class="form-control me-2 rounded-pill border-dark " type="search"
                        placeholder="Search for anything" style="padding: 12px;" id="form--input">
                </form>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Udemy Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Teach on Udemy</a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-shopping-cart fa-lg pt-3"></i>
                </li>
                <li class="nav-item">
                    <button class="btn btn-light border border-dark fw-bold">Log in</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-light border bg-dark text-white fw-bold">Sign up</button>
                </li>
                <li class="nav-item">
                    <button class="btn btnlight border border-dark"><i class="fa-solid fa-globe"></i></button>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!---------------- horizontal-card-------------------->
<div class="card pt-3 pb-2 border-0 bg-light container-fluid mx-auto">
    <div class="row">
        <div class="col-12 col-sm-5 order-2 order-sm-1">
            <div class="shadow-lg text-center text-lg-start mt-5 py-3 px-sm-5 ms-sm-5 ms-md-0 ms-md-5  bg-white" style="max-width:480px;">
                <h2>Get there. From here.</h2>
                <p class="fs-5">Welcome to the place where success .<br> Log in for savings. Ends soon.</p>
            </div>

        </div>
        <div class="col-12 col-sm-6 order-1 order-sm-2 ">
            <img src="../../assets/h-card.jpg" alt="h_card" class="w-75 d-block mx-auto">
        </div>
    </div>
</div>