<section class=" mt-3 pt-5 px-5 text-white">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <ul>
                <li>Udemy Business</li>
                <li>TEach on Udemy</li>
                <li>Get the app</li>
                <li>About us</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Contact us</li>
                <li>Careers</li>
                <li>Blog</li>
                <li>Help and Support</li>
                <li>Affiliate</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Investors</li>
                <li>Terms</li>
                <li>Privacy Policy</li>
                <li>Cookie settings</li>
                <li>Accessibility statement</li>
            </ul>
        </div>
        <div class="col">
            <button class="btn border border-white text-white p-2 px-4 ms-4 float-sm-end">English</button>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 pt-4">
        <div class="col"> <img src="../../assets/udemy-logo-on-dark.png" alt="udemy" class="ps-4" style="height:35px;">
        </div>
        <div class="col">
            <p class="ms-auto float-sm-end">© 2022 Udemy, Inc.</p>
        </div>
    </div>
</section>