<main class="container-fluid ">
    <section class=" pt-5 ">
        <div class="ps-3">
            <h2>A broad selection of courses</h2>
            <p class="fs-5">Choose from 183,000 online video courses with new additions published every month</p>
        </div>
        <div>
            <ul class="nav d-flex flex-wrap justify-content-center gap-2 ">
                <li class="nav-item"> <a class="nav-link active" href="#">Python</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Excel</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Web Developemment</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Data Science</a></li>
                <li class="nav-item"><a class="nav-link" href="#">AWS Certification</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Drawing</a></li>
            </ul>
        </div>
    </section>
    <section class=" border py-3 px-4 border-secondary">
        <div>
            <h4 class="fw-bold">Expand your career opportunities with Python</h4>
            <p>
                Take one of Udemy’s range of Python courses and learn how to code using this incredibly useful language.
                Its <br>
                simple syntax and readability makes Python perfect for Flask, Django, data science, and machine
                learning.
                You’ll <br>learn how to build everything from games to sites to apps. Choose from a range of courses
                that will
                appeal to...
            </p>
            <button class="btn btn-outline-dark p-2 fw-bold">Explore Python</button>
        </div>
        <!---------------------------------------------CAROUSEL--------------------------------------------->
        <div id="carouselExampleControls" class="carousel slide pt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                        <div class="col">
                            <div class="card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyhXlLSr4lE7gTOWwWxN_XRP_26nmhlwEi8g&usqp=CAU"
                                    class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn Python beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.2 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(10781)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card ">
                                <img src="../../assets/mern.png" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn MERN beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.4 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(34561)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../../assets/ruby.jfif" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn Ruby beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.3 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(23451)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../../assets/mean.png" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn MEAN beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.4 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(43781)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                        <div class="col">
                            <div class="card">
                                <img src="../../assets/docker.png" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn Docker beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.2 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(10781)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../../assets/react.png" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn React beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.2 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(10781)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../../assets/vuejs.png" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn Vue js beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.2 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(10781)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../../assets/nextjs.png" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn Next js beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.2 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(10781)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                        <div class="col">
                            <div class="card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyhXlLSr4lE7gTOWwWxN_XRP_26nmhlwEi8g&usqp=CAU"
                                    class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn Python beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.2 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(10781)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card ">
                                <img src="../../assets/mern.png" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn MERN beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.4 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(34561)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../../assets/ruby.jfif" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn Ruby beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.3 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(23451)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../../assets/mean.png" class="img-fluid w-100 h-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text fw-bold">Learn MEAN beginner to advance.</p>
                                    <p class="text-muted">jose portlio</p>
                                    <p class="text-warning fw-bold">4.4 <i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="text-muted fw-normal">(43781)</span>
                                    </p>
                                    <p class="fw-bold"> &#8377; 700</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon  bg-dark rounded-circle " aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
                <span class="visually-hidden ">Next</span>
            </button>
        </div>
    </section>

</main>