h2 {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
}

.nav-item>.nav-link {
  color: #636363;
  font-weight: bold;
}
