section {
  background-color: #e9ecef;
}

li {
  list-style: none;
  text-decoration: underline;
  line-height: 35px;

  a {
    color: blueviolet;
    font-weight: 700;
  }
}

.font {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
}
.business{
    padding-top:14px;
    font-size: 3rem;
    color: blueviolet
}