<section class="mt-3 container-fluid">
    <h2 class="py-4">Featured topics by category</h2>
    <!---------------------grid of list------------------>
    <div class="row row-cols-1 row-cols-sm-4 pe-5">
        <div class="col">
            <ul>
                <h5 class="fw-bold">Development</h5>
                <li class="nav-item"><a class="nav-link" href="#">Python</a></li>
                <span class="text-muted ms-3">33,745,331 students</span>
                <li class="nav-item"><a class="nav-link" href="#">Web Development</a></li>
                <span class="text-muted ms-3">10,634,133 students</span>
                <li class="nav-item"><a class="nav-link" href="#">Machine Learning</a></li>
                <span class="text-muted ms-3">6,643,786 students</span>

            </ul>
        </div>
        <div class="col">
            <ul>
                <h5 class="fw-bold">Business</h5>
                <li class="nav-item"><a class="nav-link" href="#">Financial Analysis</a></li>
                <span class="text-muted ms-3">1,144,116 students</span>
                <li class="nav-item"><a class="nav-link" href="#">SQL</a></li>
                <span class="text-muted ms-3">5,313,855 students</span>
                <li class="nav-item"><a class="nav-link" href="#">PMP</a></li>
                <span class="text-muted ms-3">1,583,273 students</span>
            </ul>
        </div>
        <div class="col">
            <ul>
                <h5 class="fw-bold">IT and Software</h5>
                <li class="nav-item"><a class="nav-link" href="#">AWS Certification</a></li>
                <span class="text-muted ms-3">5,281,637 students</span>
                <li class="nav-item"><a class="nav-link" href="#">Ethical Hacking</a></li>
                <span class="text-muted ms-3">10,312,397 students</span>
                <li class="nav-item"><a class="nav-link" href="#">Cyber Security</a></li>
                <span class="text-muted ms-3">3,721,255 students</span>
            </ul>
        </div>
        <div class="col">
            <ul>
                <h5 class="fw-bold">Design</h5>
                <li class="nav-item"><a class="nav-link" href="#">Photoshop</a></li>
                <span class="text-muted ms-3">10,488,034 students</span>
                <li class="nav-item"><a class="nav-link" href="#">Graphic Design</a></li>
                <span class="text-muted ms-3">33,745,331 students</span>
                <li class="nav-item"><a class="nav-link" href="#">3,180,027 students</a></li>
                <span class="text-muted ms-3">2,344,788 students</span>
            </ul>
        </div>

    </div>
    <div>
        <button class="btn btn-outline-dark py-2 m-4 fw-bold ">Explore more topics</button>
    </div>
</section>

<section class="container-fluid">
    <!------------------------- horizontal-card 1---------------->
    <div class="row bg-white">
        <div class="col-12 col-sm-6">
            <img src="../../assets/instructor.jpg" alt="instructor" class="d-block mx-auto" id="instructor">
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-start  d-flex justify-content-center align-items-center ">
            <div>
                <h2 class="fw-bold font">Become an instructor</h2>
                <p class="lead">Instructors from around the world teach millions of students on Udemy. We provide
                    the
                    tools and
                    skills to
                    teach what you love.</p>
                <button class="btn btn-dark text-white fw-bold">Start teaching today</button>
            </div>
        </div>
    </div>
    <!------------------------- horizontal-card 2---------------->
    <div class="row bg-white">
        <div
            class="col-12 col-sm-6 text-center order-2 order-sm-1 d-flex justify-content-center align-items-center  ps-5 ">
            <div>
                <div class="d-inline-flex flex-column flex-md-row">
                    <img src="../../assets/udemy.png" alt="udemy" style="height: 100px;" id="udemy">
                    <span class="business">business</span>
                </div>

                <p class="lead">Get unlimited access to 6,000+ of Udemy’s top courses for your team. Learn and
                    improve
                    skills across business, tech, design, and more.</p>
                <button class="btn btn-dark text-white fw-bold">Get Udemy Business</button>
            </div>
        </div>
        <div class="col-12 col-sm-6 order-1 order-sm-2 ">
            <img src="../../assets/instructor2.jpg" alt="instructor" class="d-block mx-auto ps-0" id="instructor2">
        </div>
    </div>
    <!------------------------- horizontal-card 3---------------->
    <div class="row bg-white">
        <div class="col-12 col-sm-6">
            <img src="../../assets/transform.jpg" alt="instructor" class="d-block mx-auto" id="transform">
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-start  d-flex justify-content-center align-items-center ">
            <div>
                <h2 class="fw-bold font">Transform your life through education</h2>
                <p class="lead">Learners around the world are launching new careers, advancing in their fields, and
                    enriching their lives.</p>
                <button class="btn btn-dark text-white fw-bold">Find out how</button>
            </div>
        </div>
    </div>
</section>